<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
    <link rel="stylesheet" href="../static/css/page.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/page.js"></script>
</head>
<header id="header" class="main_h"></header>
<body>
    <div id="guitarImage"></div>
    <h1 class="title">Upload</h1>
    <main id = "page">
        <div class = "main">
            <div class="uploadContainer">
                <h2 class="subtitle">ファイルアップロード</h2>
                <div id="drop_area">ここにファイルをドラッグ＆ドロップして下さい。</div>
            </div>
            <div class="fileListContainer">
                <h2 class="subtitle">ファイルリスト</h2>
                <div class="fileContainer">
                    <div id="file_list" class="fileList"></div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/get_file.js"></script>
</body>
</html>